.badge {
    width: 20px;
    height: 20px;
    background: red;
    color: white;
    border-radius: 50%;
    font-size: 10px;
    position: absolute;
    top: 0px;
    right: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}
