.active-nav {
    color: red !important;
}
.page,
.container {
    position: relative;
  }
  .page .users {
      margin: 0;;
  }
  .page .ui.items {
      margin: 0;
  }

.fade-enter,
.fade-exit {
  transition: opacity 250ms ease-out;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
    opacity: 1;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0.01;
}
